* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
  overflow-x: hidden;
}

header,
header nav {
  border: 0 !important;
  box-shadow: none !important;
  margin: 0 !important;
  padding-bottom: 0 !important;
}

p {
  word-break: break-word;
}
body {
  margin: 0;
  padding: 0;
  background-color: #1d2d44;
}

.bg-color1 {
  background-color: #0d1321 !important;
}
.text-color1 {
  color: #0d1321 !important;
}
.border-color1 {
  border-color: #0d1321 !important;
}

/* Azul profundo */
.bg-color2 {
  background-color: #1d2d44 !important;
}
.text-color2 {
  color: #1d2d44 !important;
}
.bg-color2 h2 {
  margin-top: 0;
  padding-top: 0;
}
.border-color2 {
  border-color: #1d2d44 !important;
}

.bg-color3 {
  background-color: #3e5c76 !important;
}
.text-color3 {
  color: #3e5c76 !important;
}
.border-color3 {
  border-color: #3e5c76 !important;
}

.bg-color4 {
  background-color: #748cab !important;
}
.text-color4 {
  color: #748cab !important;
}
.border-color4 {
  border-color: #748cab !important;
}

.bg-color5 {
  background-color: #f0ebd8 !important;
}
.text-color5 {
  color: #f0ebd8 !important;
}
.border-color5 {
  border-color: #f0ebd8 !important;
}

.logo-mobile {
  width: 70%;
}
.btn-more {
  background: none !important;
  background-color: transparent !important;
  border: 1px solid #1d2d44;
  color: #1d2d44;
}

.text-navigation {
  font-size: 20px;
  color: white;
  border-bottom: 2px solid #f0ebd8;
  padding-bottom: 4px;
  text-decoration: none;
}

.scroll-container {
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: #222 #eee;
}

/* Chrome, Safari, Edge */
.scroll-container::-webkit-scrollbar {
  height: 6px;
  border-radius: 4px;
}

.scroll-container::-webkit-scrollbar-track {
  background: #eee;
  border-radius: 4px;
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: #222;
  border-radius: 4px;
  border: 1px solid #eee;
}

.spacer {
  min-width: 100px;
}

.cards-wrapper {
  margin-bottom: 12px;
  display: flex;
  gap: 12px;
}

.card-scroll {
  flex-shrink: 0;
  min-width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 8px;
}

@media (min-width: 576px) {
  .card-scroll {
    min-width: 200px; /* desktop/tablet: largura fixa menor */
  }
}
