
/* reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.carousel-caption{
    width: 90%;
    align-content: center;
    position: relative;
    top: 0.2rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    left:5%;
    background-color: rgba(214, 148, 200, 0.195);
    box-shadow: 0px 2px 10px 2px #00000082;
    border: 1px solid #00000082;
    border-radius: 20px;
        
}
#carousel-caption {
    text-align: center;   
}
.carousel-indicators{
    bottom: -1.5rem;
    margin-bottom: 2px;
}
.carousel-item img {
    background-size: cover;
    height: 250px;
    width: 100%;         
    border-radius: 20px;
    padding: 5px;
}
.carousel-caption p{
    font-size: 1.3rem;
    font-weight: 300;
    color: rgb(114, 122, 121);
}
.carousel-caption h3{
    font-size: 1.5rem;
    font-weight: 500;
    color: rgb(37, 129, 118);
}
.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: rgba(117, 2, 92, 0.03);
    border-radius: 50%;
    box-shadow: 0px 2px 10px 2px #00000082;
    
}
.menu-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 35px;
    height: 25px;
}

.menu-icon span {
    display: block;
    background-color: black;
    height: 4px;
    width: 100%;
    border-radius: 5px;
    transition: 0.3s;
}

/* Efeito de animação ao clicar */
.navbar-toggler[aria-expanded="true"] .menu-icon span:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] .menu-icon span:nth-child(2) {
    opacity: 0;
}

.navbar-toggler[aria-expanded="true"] .menu-icon span:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
}
.navbar-toggler {
    position: absolute;
    right: 10px; /* Ajuste conforme necessário */
    top: 10px;
}



